# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment folders
.venv/
venv/
env/
ENV/

# Django stuff
*.sqlite3
*.log
db.sqlite3
*.pot
*.pyc
/staticfiles/
/media/
*.db

# VS Code
.vscode/

# Secrets
.env

